{% include '_header.twig' %}

{# commented... 
{{ calendar('frontpage') }} 
#}

{#
<div>
{% for event in calendar('frontpage') %}
<div style="background-color:#eeeeee;">
<h1> {{ event.summary }} </h1>
<h3> {{ event.location }} </h3>
<h4> {{ event.start.dateTime }} -> {{ event.end.dateTime }} </h4>
<p> {{ event.description }} </p>
</div>
{% endfor %}
</div>
#}

{#
{{ sermons() }} 
#}


...

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >


<img src="{{ record.image|image() }}"  />

<!-- http://evanhahn.com/life-changing-css/ -->
<!-- <div style="position:absolute;top:50%;transform:translateY(-90%);left:50%;color:white;font-size:24px;text-transform:uppercase;font-weight:bold;letter-spacing:.3em;">grow</div> -->
<!-- http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ --> 


<span class="overlay-text">grow</span>



</div>


<div class="page">
<div class="container">

<!-- <span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span>
-->

{# commented... 
{{ dump(record) }} 
#}

<!-- Here we want to say... -->

<!-- Welcome (LHS) --> 
<!-- ... get snippet from Welcome page? -->

<!-- Upcoming events (LHS) -->

<!-- General Info | RHS --> 
<!-- Recent Sermons | RHS --> 


<div class="page-section grow-page">


<div class="section-header">
<h1>Grow Your Community</h1>
<p>At Mattis Avenue, we believe it's crucial to continue to grow your spiritual life. This can be your personal relationship with Christ, with with church body, as well as the community around us.</p>
</div>

<div class="row">
<div class="col-md-4">
<h3>Life Stage</h3>
<p>Ways to grow at any stage of your life, whether you're a young adult, a family, or a young kid; we have a place for you to plug yourself in.</p>
<a href="#" class="btn btn-default">Go There</a>
</div>
<div class="col-md-4">
<h3>Faith @ Home</h3>
<p>Insert blurb about Faith at Home here.</p>
<a href="#" class="btn btn-default">Go There</a>
</div>
<div class="col-md-4">
<h3>Ways We Serve</h3>
<p>Insert blurb about Ways we Serve here.</p>
<a href="#" class="btn btn-default">Go There</a>
</div>
</div>

<hr />

<div class="row">
<div class="col-md-4">
<h3>Ministry Teams</h3>
<p>Insert blurb about ministry teams here.</p>
<a href="#" class="btn btn-default">Go There</a>
</div>
<div class="col-md-4">
<h3>Give</h3>
<p>Online giving is available.</p>
<a class="btn btn-default" href="http://donate.mattisave.org/">Go There</a>
</div>
<div class="col-md-4">
<h3>Learning</h3>
<p>Insert blurb about learning here.</p>
<a href="#" class="btn btn-default">Go There</a>
</div>
</div>

</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
