{% include '_header.twig' %}


{#
<div>
{% for event in calendar('frontpage') %}
<div style="background-color:#eeeeee;">
<h1> {{ event.summary }} </h1>
<h3> {{ event.location }} </h3>
<h4> {{ event.start.dateTime }} -> {{ event.end.dateTime }} </h4>
<p> {{ event.description }} </p>
</div>
{% endfor %}
</div>
#}

{#
{{ sermons() }} 
#}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
<img src="{{ record.image|image() }}"  />
<span class="overlay-text">Mattis Avenue Free Methodist Church</span>
</div>


<div class="page">
<div class="container">
<div class="page-section home-page">

<div class="row">
<div class="col-md-7">
<h3 class='light'>Welcome</h3>
<h2>Welcome to Mattis Avenue Free Methodist Church!</h2>
<p>
The church does not exist for the sake of the church.  It exists for the sake of the world.  We believe the church should be a force of irresistible influence in its community.  By building bridges of real spiritual integrity between itself and an increasingly skeptical society, we possess the power and authority to be a catalyst for change and an engine of influence for God.  Jesus said the crowning work of authentic ministry is when the poor have the gospel brought to them.  Hence, the destitute and disenfranchised of the world deserve our particular care.
</p>
<p>Sincerely,<br/><br />
Herb Coates, Pastor
<br />
<br />

<a href="#" class="btn btn-default">Read the full letter</a>
</p>

<h3 class='light'>Upcoming Events</h3>
<div>
{% for event in calendar('frontpage', 3) %}
<div >
<h2> {{ event.summary }} </h2>
{% set loc = event.location | preg_split("|, (?=\\d)|", 2) %}
<h4> {{ event.start.dateTime|date("m/d/Y / g:ia", "America/Chicago") }}, at <em><a href="http://maps.google.com/?q={{ loc[1] }}">{{ loc[0] }}</a></em></h4>
<p> {{ event.description }} </p>
</div>
{% if loop.last == false %}
<hr />
{%  endif %}
{% endfor %}
</div>

</div>
<div class="col-md-4 col-md-offset-1">
<h3 class='light'>General Info</h3>

<h5>Services</h5>
<p>Worship services are held Sundays at 10:30AM. We'd love to have you join us!</p>
<hr />

<h5>English Conversation Classes</h5>
<p>English Conversation classes are held multiple times each week.</p>
<hr />

<h3 class='light'>Recent Sermons</h3>
{% for sermon in sermons(false, 3) %}
<h5>{{sermon.title }}</h5>
<p>By <em>{{sermon.speaker}}</em> on {{ sermon.date | date("M") }} {{ sermon.date | date("j") }}, {{ sermon.date | date("Y") }}</p>
{% if loop.last == false %} <hr /> {%  endif %}
{% endfor %}

</div>
</div>

</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
